[user]
    name = Kazuki Hanai
    email = kazuki.hanai@wan-nyan-wan.net
    signingkey = 053805F1E1001A79
[alias]
    co = checkout
    cm = commit -m
    ad = add
    ap = add -p
    br = branch
    ba = branch -a
    pscb = !git push origin `git rev-parse --abbrev-ref HEAD`
    ps = push
    st = status
[merge]
    tool = vimdiff
[http]
    cookiefile = /home/sugerme/.gitcookies
[sendemail]
    smtpuser = distributed.system.love@gmail.com
    smtpserver = smtp.googlemail.com
    smtpencryption = tls
    smtpserverport = 587
[core]
    pager = delta
    editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    line-numbers = true
    decorations = true

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[init]
    defaultBranch = main
